html,
body {
    height: 100%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 768px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }

    header .header-top .brand-logo {
        width: 50%;
        margin-left: 33.33333333%;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* fade out alerts */
.alert {
    animation: fadeOut ease 15s;
    -webkit-animation: fadeOut ease 15s;
    -moz-animation: fadeOut ease 15s;
    -o-animation: fadeOut ease 15s;
    -ms-animation: fadeOut ease 15s;
}
@keyframes fadeOut {
    0% {opacity:1;}
    10% {opacity:0.3;}
    11% {opacity:1;}
    20% {opacity:0.3;}
    21% {opacity:1;}
    30% {opacity:0.3;}
    31% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    10% {opacity:0.3;}
    11% {opacity:1;}
    20% {opacity:0.3;}
    21% {opacity:1;}
    30% {opacity:0.3;}
    31% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    10% {opacity:0.3;}
    11% {opacity:1;}
    20% {opacity:0.3;}
    21% {opacity:1;}
    30% {opacity:0.3;}
    31% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    10% {opacity:0.3;}
    11% {opacity:1;}
    20% {opacity:0.3;}
    21% {opacity:1;}
    30% {opacity:0.3;}
    31% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeOut {
    0% {opacity:1;}
    10% {opacity:0.3;}
    11% {opacity:1;}
    20% {opacity:0.3;}
    21% {opacity:1;}
    30% {opacity:0.3;}
    31% {opacity:1;}
    100% {opacity:0;}
}
.alert.fade.in {
    opacity: 0;
}

/*for text search*/
.yellow {
    background-color: yellow;
}

.display-none {
    display: none;
}

/*for main page author image*/
.photo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px #444;
}
.author-image {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

/*for main page feeditems*/
.post-type-image {
    padding: 0;
    position: relative;
    width:300px;
    height:200px;
    background: #ececec;
    border: 1px solid #000;
    border-radius:5px;
}

.post-type-image img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}
/*for newsfeed page */
.page-posts .post-type-image {
    padding: 0;
    position: relative;
    width:600px;
    height:400px;
    background: #ececec;
    border: 1px solid #000;
    border-radius: 10px;
}

.page-posts .post-type-image img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}

/*for profile page posts*/
.box-flex {
    display: flex;
    flex-flow: row wrap;
}

.box-flex-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.box-flex-img img {
    width: initial;
    height: 100%;
}

/*for likes heart*/
.fa-heart-o {
    color:red;
}

.likes-count {
    margin-right: 15px;
}

/*for round icons*/
.auth-icon {
    border-radius: 50px;
}
/*for comments*/
.post-comment {
    word-wrap: break-word;
    width: 50%;
    margin-left: 70px;
    color:darkblue;
    background: #eee;
    border: 1px solid #000;
    border-radius:3px;
    padding-left: 5px;

}

.post-button {
    margin-left: 70px;
    padding-top: 5px;
}
